@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-3xl: 108rem;
  --breakpoint-4xl: 120rem;
  --breakpoint-5xl: 160rem;

  @keyframes scale {
    0% {
      transform: scale(2);
      opacity: 0;
      box-shadow: 0px 0px 50px rgba(255, 165, 0, 0.5);
    }
    50% {
      transform: translate(0px, -5px) scale(1);
      opacity: 1;
      box-shadow: 0px 8px 20px rgba(255, 165, 0, 0.5);
    }
    100% {
      transform: translate(0px, 5px) scale(0.1);
      opacity: 0;
      box-shadow: 0px 10px 20px rgba(255, 165, 0, 0);
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.976 0 0);
  --foreground: oklch(0.217 0 0);
  --card: oklch(0.989 0.004 15.765);
  --card-foreground: oklch(0.217 0 0);
  --popover: oklch(0.976 0 0);
  --popover-foreground: oklch(0.217 0 0);
  --primary: oklch(0.572 0.123 237);
  --primary-foreground: oklch(0.961 0 0);
  --secondary: oklch(0.886 0.005 229);
  --secondary-foreground: oklch(0.218 0 0);
  --muted: oklch(0.884 0 0);
  --muted-foreground: oklch(0.599 0.01 232);
  --accent: oklch(0.886 0.005 229);
  --accent-foreground: oklch(0.235 0 0);
  --destructive: oklch(0.597 0.238 29);
  --border: oklch(0.833 0.025 227);
  --input: oklch(0.834 0.023 226);
  --ring: oklch(0.804 0.058 228);
}

.dark {
  --background: oklch(0.188 0.071 269);
  --foreground: oklch(0.961 0 0);
  --card: oklch(0.167 0.045 269);
  --card-foreground: oklch(0.961 0 0);
  --popover: oklch(0.24 0.006 214);
  --popover-foreground: oklch(0.961 0 0);
  --primary: oklch(0.737 0.138 234);
  --primary-foreground: oklch(0.961 0 0);
  --secondary: oklch(0.324 0.021 232);
  --secondary-foreground: oklch(0.961 0 0);
  --muted: oklch(0.374 0.018 225);
  --muted-foreground: oklch(0.684 0.011 229);
  --accent: oklch(0.324 0.021 232);
  --accent-foreground: oklch(0.945 0 0);
  --destructive: oklch(0.613 0.228 27);
  --border: oklch(0.35 0.033 228);
  --input: oklch(0.348 0.03 232);
  --ring: oklch(0.422 0.072 232);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Root selector */
::selection {
  background: var(--background);
  color: var(--foreground);
}

/* Root scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground) var(--background);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--background);
}

/* Landing navbar */
#landing-header.scrolled {
  @apply bg-background/90 pointer-events-auto text-black opacity-100 shadow-sm backdrop-blur-md dark:text-white;
}
